@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-content,
.home-right {
  width: 45%;
}
.max-width-home {
  display: flex;

  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}

/* Asegurarse de que las imágenes se ajusten al contenedor */
.home-right img {
  width: 70%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.hidden {
  display: none;
}
html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}
h1 {
  margin-bottom: 8px;
}
h2 {
  padding-top: 100px;
}
p {
  margin-bottom: 12px;
  font-size: medium;
}
.description-card {
  color: white;
  height: 60px;
}

#hamburguer {
  color: #111;
}
/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  padding: 18px 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
  z-index: 999;
  background: #fff59e;
}

.navbar.sticky {
  padding: 15px 0;
  background: rgba(255, 245, 158, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 35px;
  color: #403d39;
  font-weight: 600;
}

.navbar .logo a span {
  color: blueviolet;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: blueviolet;
  transition: all 0.3s ease;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #838888;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  display: block;
}

.navbar .menu li a:hover {
  color: blueviolet;
}

.navbar.sticky .menu li a:hover {
  color: blueviolet;
}

/* menu btn styling */

.menu-btn {
  color: #fff59e;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #ffd369;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #111;
  border: solid 1px black;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* HOME */

.home {
  display: flex;
  /* background: url("images/hero.png");
  /* <a href="https://www.freepik.com/free-vector/cute-people-playing-laptop-cartoon-vector-icon-illustration-people-technology-icon-concept-isolated-premium-vector-flat-cartoon-style_22049524.htm#page=2&query=person%20study%20laptop%20cartoon&position=3&from_view=search&track=ais">Image by catalyststuff</a> on Freepik */
  background: #140a00;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  font-family: "Rubik", sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #ffd369;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: #ffd369;
  color: #111;
  font-size: 25px;
  padding: 12px 36px;
  border-radius: 8px;
  margin-top: 20px;
  transition: all 0.3s ease;
  font-weight: 600;
}

.home .home-content a:hover {
  color: #fffcf2;
  background-color: #be5130;
  transition: all 0.3s ease;
}

.acerca,
.services,
.skills,
.contact,
.footer {
  font-family: "Rubik", sans-serif;
}

.acerca .acerca-content,
.services .services-content,
.skills .skills-content,
.contact .contact-content.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-bottom: 60px;
  padding-top: 60px;
}

#skills {
  color: black;
  margin-top: 50px;
}
#contact {
  color: #838888;
  background: #111;
}

.acerca {
  background: #f8f8f8;
  color: #111;
}

.acerca .acerca-content .left {
  width: 45%;
}

.acerca .acerca-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.acerca .acerca-content .left img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.acerca .acerca-content .right {
  width: 55%;
}

.acerca .acerca-content .right .text {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.acerca .acerca-content .right .text span {
  color: #393e46;
}

.acerca .acerca-content .right p {
  text-align: justify;
  color: #111;
  font-size: 20px;
}

.acerca .acerca-content .right a {
  display: inline-block;
  background: #ffd369;
  color: #111;
  font-size: 24px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 60px;
  border: 2px solid #ffd369;
  transition: all 0.3s ease;
}

.acerca .acerca-content .right a:hover {
  color: #242522;
  background: #ccc5b9;
}

.acerca .acerca-content .column {
  width: 50%;
}

.acerca .acerca-content .column {
  width: 50%;
}

.acerca .acerca-content .left {
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

.acerca .acerca-content .right {
  flex: 50%;
}

/* Services */

.services {
  background: #a3a3a3;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
  min-height: 100vh;
}

.services .services-content {
  height: 100%;
  margin: -32px 12px 8px 14px;
}

.services .services-content .card {
  width: 350px;
  background: #242522;
  height: 320px;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px 0px 8px;

  transition: all 0.3s ease;
}

.services .services-content .card:hover {
  background: #393e46;
  color: #fffcf2;
  transition: all 0.3s ease;
}

.services .services-content .card:hover .box {
  color: #fff;
}

#services a {
  background-color: #111;
  border-radius: 5px;
  padding: 6px 12px;
  color: #fff;
}

#services a:hover {
  background-color: #f8cb63;
  transition: all 0.3s ease;
  color: #111;
}

.services .services-content .card i {
  font-size: 16px;
  color: #fffcf2;
}

.services .services-content .card .text {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0 6px 0;
}

.card {
  width: 550px;
  height: 1000px;
  margin: 10px 0;
}

.card-img-top {
  width: 100%;
  height: 55%;
}

/* SKILLS */

.box-soft-skills,
.box-hard-skills,
.box-hard-aprendiendo {
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s linear;

  padding: 0px 6px 12px 0;
  display: grid;
  border-radius: 6px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2px;
}

.box-soft-skills .box,
.box-hard-skills .box,
.box-hard-aprendiendo .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fdfdfd;
  text-align: center;
  padding: 5px 10px;
  margin: 2px 2px;
}

.box-soft-skills .box img,
.box-hard-skills .box img,
.box-hard-aprendiendo .box img {
  height: 60px;
  transition: 0.3s ease-in-out;
  transform: scale(1);
}
.box-soft-skills:hover img,
.box-hard-skills:hover img,
.box-hard-aprendiendo:hover img {
  transform: scale(1.1);
}

.box-soft-skills .box p,
.box-hard-skills .box p,
.box-hard-aprendiendo .box p {
  color: #838888;
  font-size: 15px;
  line-height: 1.2;
}

.box-soft-skills .box .btn,
.box-hard-skills .box .btn,
.box-hard-aprendiendo .box .btn {
  margin-top: 10px;
  display: inline-block;
  background: #403d39;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px;
}

.box-soft-skills .box .btn:hover,
.box-hard-skills .box .btn:hover,
.box-hard-aprendiendo .box .btn:hover {
  letter-spacing: 1px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.skills {
  background: #fff;
}

/* -----------------   CONTACTO    ---------------*/

.formulario {
  font-family: "Roboto", sans-serif;
  background-color: #111;
  width: 100%;
  height: 68vh;
  background-size: cover;
  background-image: url(./images/plane.jpg);
  /* <a href="https://www.freepik.es/foto-gratis/avion-papel-amarillo_974127.htm#page=2&query=plane%20vector%20mail&position=5&from_view=search&track=ais">Imagen de dashu83</a> en Freepik */
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgba(17, 17, 17, 0.8);
  margin-left: 150px;
  max-width: 33%;
  max-height: 100vh;
  padding: 6em 2.2em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;
  backdrop-filter: blur(5px);
}
.formulario input,
textarea {
  font-weight: 500;
  color: #fff;
}
form {
  margin-top: 1.5em;
  display: grid;
  gap: 1.5em;
  width: 40%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
form input,
textarea {
  width: 100%;
  position: relative;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #403d39;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  resize: none;
}
button {
  background: #ffd369;
  color: #111;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}
/* ------ FOOTER  ------*/

footer {
  background: #111;
  padding: 20px 23px;
  color: #fffcf2;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

footer span a {
  color: #ffd369;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}
.icons {
  padding-top: 6px;
  font-size: 32px;

  cursor: pointer;
}
.icons a i {
  color: #838888;
}
.pdfview {
  margin: auto;
  display: block;
  width: 850px;
  height: 100vh;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* -----RESPONSIVE----------- */

@media (max-width: 1400px) {
  .card {
    margin: 15px 20px;
  }

  @media (max-width: 1230px) {
    .max-width {
      padding: 0 50px;
    }

    .card {
      margin: 10px 0px;
    }
  }

  @media (max-width: 1230px) {
    .card {
      margin: 10px 5px;
    }
  }
  form {
    margin: 10px;
    width: 70%;
    max-width: 100%;
    max-height: 80vh;
  }
  @media (max-width: 1104px) {
    .acerca .acerca-content .left img {
      height: 350px;
      width: 350px;
    }
  }
  form {
    margin: 10px;
    width: 70%;
    max-width: 100%;
    max-height: 80vh;
  }

  @media (max-width: 991px) {
    .max-width {
      padding: 0 50px;
    }
  }
  form {
    margin: 10px;
    width: 50%;
    max-width: 100%;
    max-height: 80vh;
  }

  @media (max-width: 947px) {
    .menu-btn {
      display: block;
      z-index: 999;
    }

    .menu-btn i.active:before {
      content: "\f00d";
      color: #838888;
    }

    .navbar .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      background: rgb(0, 0, 0);
      left: -100%;
      top: 0;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
    }

    .navbar .menu.active {
      left: 0;
    }

    .navbar .menu li {
      display: block;
    }

    .navbar .menu li a {
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
    }

    .home .home-content .text-2 {
      font-size: 70px;
    }

    .home .home-content .text-3 {
      font-size: 35px;
    }

    .home .home-content a {
      font-size: 23px;
      padding: 10px 30px;
    }

    .about .about-content .column {
      width: 100%;
    }

    .about .about-content .left {
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
    }

    .about .about-content .right {
      flex: 100%;
    }
    .services-content.reveal {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .services .serv-content .card {
      width: 70%;
      margin-bottom: 20px;
    }

    .acerca-content {
      flex-direction: column;
    }
    form {
      margin: 10px;
      width: 70%;
      max-width: 100%;
      max-height: 80vh;
    }

    @media (max-width: 700px) {
      .contact-content {
        padding: 0 23px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .home .home-content .text-2 {
        font-size: 60px;
      }

      .home .home-content .text-3 {
        font-size: 30px;
      }

      .home .home-content a {
        font-size: 20px;
      }
      .services-content.reveal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .services .services-content .card {
        width: 70%;
        margin-bottom: 20px;
      }

      #acerca .column.right {
        margin: 10px 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      form {
        margin: 10px;
        width: 70%;
        max-width: 100%;
        max-height: 80vh;
      }

      @media (max-width: 512px) {
        .home .home-content .text-2 {
          font-size: 50px;
        }

        .home .home-content .text-3 {
          font-size: 24px;
        }

        .about .about-content .right .text,
        .skills .skills-content .left .text {
          font-size: 18px;
        }
        .form-title {
          font-size: 1.8rem;
        }

        .services .services-content .card {
          width: 320px;
          height: 260px;
          background: #393e46;
          text-align: center;
          border-radius: 6px;
          padding: 10px;
          transition: all 0.3s ease;
        }

        /* no se muestran */
        .card-text {
          display: none;
        }

        .card-img-top {
          width: 100%;
          height: 70%;
        }

        .box-soft-skills,
        .box-hard-skills,
        .box-hard-aprendiendo {
          padding: 2px 2px;
          padding-bottom: 2px;
          font-size: 12px;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          gap: 1px;
          margin: -30px 0 40px 0;
        }
        form {
          margin: 10px;
          width: 80%;
          max-width: 100%;
          max-height: 80vh;
        }
        img {
          height: 50px;
          width: 60px;
        }
      }
    }
  }
}
